* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    
} 

li {
    list-style: none;
}

.container {
    width: 80%;
    height: 400px;
    position: relative;
    margin: 0 auto;
}

.carousel-container {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.carousel {
    padding: 0;
    margin: 0;

}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.btn {
    top: 50%;
    
    transform: translateY(-50%);
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn i {
    width: 20px;
    height: 20px;
    color: red;
}

.right-btn {
    right: -35px;
}

.left-btn {
    left: -35px;
}

.nav {
    
    width: 100%;
    height: 30px;
    position: absolute;
    top: 400px;
    display: flex;
    justify-content: center;
}
 
.nav .dot {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    width: 13px;
    height: 15px;
    border-radius: 50%;
    margin: 8px 10px;
    cursor: pointer;
}

.dot.active {
    background: #fff;
}
